# Sales Exercise

## Create 2 new depts in the depts table called

```record 1:
code: CSALE
description: Corporate External Sales
record 2:
code: ISALE
description: Corporate Inside Sales

Create a new table SALES
emp_id TEXT
sale_type TEXT
sale_date TEXT
sale_amount REAL

Create 3 new sales people
emp_id :100 first_name: Roger
last_name: Kellogg
marital_status: Divorced
Dept_id: CSALE
manager_id: 001

emp_id: 101 first_name: Laura
last_name: Engels
marital_status: Married
Dept_id: CSALE
manager_id: 100

emp_id: 102 first_name: Thomas
last_name: Pratt
marital_status: Married
Dept_id: CSALE
manager_id : 100

================================= emp_id 100
sale_type INSIDE
sale_date 2020/11/20
sale_amount 15000

================================= emp_id 100
sale_type INSIDE
sale_date 2020/12/05
sale_amount 35000

================================= emp_id 100
sale_type INSIDE
sale_date 2020/10/02
sale_amount 50000

================================= emp_id 101
sale_type INSIDE
sale_date 2020/10/02
sale_amount REAL

================================= emp_id 100
sale_type INSIDE
sale_date 2020/10/02
sale_amount REAL

================================= emp_id 101
sale_type INSIDE
sale_date 2020/11/10
sale_amount 45000

================================= emp_id 101
sale_type INSIDE
sale_date 2020/10/16
sale_amount 22000

================================= emp_id 101
sale_type INSIDE
sale_date 2020/12/08
sale_amount 26000
```