<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Pandas Overwiew</h2>

We use Pandas as the primary tool for analyzing data.  All of the functions we calculated<br>
by hand earlier in this course are now given to you automatically using built in functions.<br>
<br>
The primary data structures used with Pandas are series and dataframes<br>
The difference is that we use series for 1 dimensional data and we use dataframes for<br>
multidimensional data.

<h2>Pandas Series</h2>

To create a pandas data series do the following:<br>
    <code>
    import pandas as pd
    x = pd.Series(range(1,10))
    x
    </code>
Notice the capital letter in the Series

In [3]:
import pandas as pd 
x = pd.Series(range(1,130))
print(x.values.divide(3))

AttributeError: 'numpy.ndarray' object has no attribute 'divide'

Notice as well the index: the main difference between pandas series and numpy arrays. Oh but, what's this inside? A Numpy array!

In [5]:
x.values
type(x.values)

1

In [7]:
x[0]
x[2:4]

2    3
3    4
dtype: int64

Pandas series house numpy arrays, but add a flexible indexing list.

<h4>Data types</h4>

Let's try the same thing using charaters in a string<br>
<code>
import pandas as pd
x = pd.Series(['Python'])
x
</code>

In [11]:
x = pd.Series(['Python']) 
x

0    Python
dtype: object

<h2>Exercise</h2>
Store the string 'Learning Python is fun' as a string of characters to a pandas series and print the first letter of each word.<br>

<h4>Solution</h4>

<h4>The Index of Pandas Series</h4>
Create your own indexing by specifying pd.Series([values],index = ['your', 'index', 'labels' 'here'])

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['Joe', 'Roe', 'Tiafoe', 'Jo'])
data

Joe       0.25
Roe       0.50
Tiafoe    0.75
Jo        1.00
dtype: float64

Rings like a dictionary? True!

In [20]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Now we can slice and operate, unlike w/ dictionaries:

In [22]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

Let's now take a mix of floating point numbers and integers and store them in a pandas series<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4]
ps = pd.Series(numbers)
ps
</code>

In [13]:
numbers = [2, 2.4, 3, 3.4]
ps = pd.Series(numbers)
ps

0    2.0
1    2.4
2    3.0
3    3.4
dtype: float64

Broadcasting also happens when we add only one value to the values list but multiple indices:

In [9]:
x = pd.Series(5, index=[100, 200, 300])
x

100    5
200    5
300    5
dtype: int64

To access individual elements in a series we use indexinging and slicing as we<br>
do in regular python.  To access the first element in our series type:
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[0]
</code>

To obtain a range of number we use slicing.  To get the last 2 elements in our series<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]
</code>

In [10]:
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[-2:]

3     3.4
4    Blue
dtype: object

We can change elements in a series by assigning a value to the element<br>
<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps
</code><br>
NOTE: It does not automatically change all of the elements in a series if we manually change<br>
all of the elements to the same data type

<h2>Pandas Series Casting</h2>
We wil now change our data from an object to a int64 data series<br>
<code>
import pandas as pd
numbers = [2, 2.4, 3, 3.4,'Blue']
ps = pd.Series(numbers)
ps[4] = 23.5
ps.astype('float32')
ps.dtype
new_ps = ps.astype('float32')
new_ps
</code>
NOTE: This operation is not in place

We can create a series of dates<br>
<code>
import pandas as pd
dates = pd.Series(pd.date_range('20200101', periods=6))
print(dates.dtype)
dates
</code>

<h2>Pandas Operations</h2>
We can perform an operation against the whole series<br>
<code>
x = range(10,21)
s1 = pd.Series(x) * 2
s1
</code>

<h2>Exercise</h2>
Create a data series of all the odd numbers from 100 to 130<br>
Then divide each number by 3<br>

<h4>Solution</h4>

In [9]:
import pandas as pd
import numpy as np

r = pd.Series(i for i in range(100, 130) if i % 2 != 0)
np.divide(r, 3)

0     33.666667
1     34.333333
2     35.000000
3     35.666667
4     36.333333
5     37.000000
6     37.666667
7     38.333333
8     39.000000
9     39.666667
10    40.333333
11    41.000000
12    41.666667
13    42.333333
14    43.000000
dtype: float64

<h2>Series head and tail</h2>
To display the beginning and ending of a long series use head and tail.<br>
This is the same as using the linux head() and tail(). This is great to get a quick overview of the data types without overcomplicating your view<br>
<code>
x = range(101,171,2)
ps = pd.Series(x) / 3
ps.head()
ps.tail()
</code>
<br>
Head will show the first 5 items in a series
Tail will show the last 5 items in a series

<h2>Adding to a data series</h2>
To add to a series we use the append method.  However, we must use an optional<br>
parameter if we haven't included an index on our series.<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p3
</code>

<h2>Removing a row from a series</h2>
To remove a line from a series use the drop method<br>
<code>
import pandas as pd
x = range(101,121,2)
ps = pd.Series(x)
y = range(1,11)
p2 = pd.Series(y)
p3 = ps.append(p2, ignore_index=True)
p4 = p3.drop(1)
p4
</code>

<h2>Pandas Series Index</h2>
We can add an index to a series by passing in an index of the same size as the data<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps
</code>
<br>
NOTE: The size of the index and data must be the same

<h2>Pandas search using the index</h2>
To search for an element isn a series use the 'loc' method<br>
<code>
import pandas as pd
phrase = ['A','B','C','D','E']
index = range(5,10)
ps = pd.Series(phrase, index = index)
ps.loc[8]
</code>

<h2> Exercise </h2>

This notebook is part of a course at www.codeimmersives.com called Data Science. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives