<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas continued](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Review</h2>

<h2>Pandas Series continued</h2>

We can sort a series by using the sort_values method.<br>
<code>
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values(ascending = False)
ps
</code><br>
NOTE: We can use the ascending = True to sort the series in ascending order

In [ ]:
import pandas as pd
x = [27,4,14,23,33,14,22,11]
ps = pd.Series(x).sort_values(ascending = False)
ps

We can also sort a series using a lambda expression.  Consider the <br>
following list of strings:<br>
<code>
ps = pd.Series(['a', 'B', 'c', 'D', 'e'])
ps.sort_values(key=lambda x: x.str.lower())
ps
</code><br>
NOTE: We can use the str method to change all values in a series to a string

In [ ]:
ps = pd.Series(['a', 'B', 'c', 'D', 'e'])
ps.sort_values(key=lambda x: x.str.lower())
ps

0    a
1    B
2    c
3    D
4    e
dtype: object

<H2>Exercise</h2>
Take the following list of cities and alphabetize them and put them<br>
In the proper case:  ALBANY ---> Albany<br>
<case>
cities = ['PROVIDENCE', 'HARTFORD','BOSTON','ALBANY','TRENTON']

</case>

<h4>Solution</h4>

<h4>Pandas Series.str methods</h4>
Here is a list of str methods to try:<br>
str.contains<br>
str.count<br>
str.endswith<br>
str.find<br>
str.index<br>
str.join<br>
str.get<br>
str.len<br>
str.split<br>
str.isalnum<br>

<h2> Exercise </h2> 
1) use pd.str to get a boolean matrix for which words in the series <code> ['Mouse', 'dog', 'house and parrot', '23', np.NaN] </code> contain 'og' - use pd.str.contains <br>
2) Use pd.str.count to get the count of 'a' in the series <code> ['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat','aardvark'] </code> <br>
3) Use pd.str.count to get the count of dollar signs in the series *hint* special characters need a double backslash before them ('\\') <code>
['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat', 'canna$', 'findme_', 'dollarsign$', 'infinite', 'lo$'] </code>
 <br>
4) Use pd.str.endswith() to see how many strings end with 't' in the series <code> ['bat', 'bear', 'caT', np.nan, 'lost', 'later', 'tattletale', 'tops', 'taste', 'tart', 'tango', 'taint', 'tarentino', 'tot'] </code> <br>
5) Use pd.str.join() to join all elements in the series <code> [['lion', 'elephant', 'zebra'],
               [1.1, 2.2, 3.3],
               ['cat', 'gerbil', 'dog'],
               ['cow', 4.5, 'goat'],
               ['duck', 'swan', 'fish', 'guppy']] </code> using a hyphen '-' to join.

Solution:

We can split the data in a series and unpack the results into columns<br>
<br>
<code>
cities = ['PROVIDENCE, Rhode Island', 'Harford, Connecticut','Boston, Massachusetts']
ps = pd.Series(cities).str.split(expand = True)
ps
</code><br>
NOTE: We use the expand key word argument to create the multiple columns

In [ ]:
cities = ['PROVIDENCE, Rhode Island', 'Harford, Connecticut','Boston, Massachusetts']
ps = pd.Series(cities).str.split(expand = True)
ps

             0              1       2
0  PROVIDENCE,          Rhode  Island
1     Harford,    Connecticut    None
2      Boston,  Massachusetts    None

We can remove a row by dropping its index<br>
<br>
<code>
import pandas as pd
favorites = {'1st place':'Pineapple',
            '2nd place': 'Grapes',
            '3rd place': 'Granny Smith Apples',
            '4th place': 'Strawberries'}
ps = pd.Series(favorites.values(), index = favorites.keys())
new_ps = ps.drop(labels='4th place')
new_ps
</code>

In [1]:
import pandas as pd
favorites = {'1st place':'Pineapple',
            '2nd place': 'Grapes',
            '3rd place': 'Granny Smith Apples',
            '4th place': 'Strawberries'}
ps = pd.Series(favorites)
new_ps = ps.drop(labels='4th place')
new_ps

1st place              Pineapple
2nd place                 Grapes
3rd place    Granny Smith Apples
dtype: object

<h4>Pandas Series sum</h4>
We can sum up all of our values in the series<br>
<code>
import pandas as pd
data = [90,93,97,88, 89]
ps = pd.Series(data)
print(ps.sum())
</code>

In [ ]:
import pandas as pd
data = [90,93,97,88, 89]
ps = pd.Series(data)
print(ps.sum())

457

### DataFrame

In [7]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [8]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [9]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [24]:
frame.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [ ]:
frame = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'area'])
frame

<h2> Exercise </h2>
1) Edit the states dataframe to create a new dataframe frame2 that adds a 'debt' column  <br> 
2) change the indices to be string numbers from one to six ('one', ... 'six) <br>
3) Print all the values in the years column for viewing <br>
4) Print row 'three' with all it's values using loc[] <br>
5) Use numpy's arange() function to fill the debt column frame2['debt'] with a range of numbers (Hint: you need to match the range to the number of rows in the frame for broadcasting to work).

Solution

Now instead of an arange, say we wanted to specify the debt column manually ourselves, we can do this by creating another series and assigning the column to the series (remember how dataframes contain series).

In [28]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [34]:
frame2['Eastern'] = frame2.state == 'Ohio'
frame2
#del frame2['eastern']

       year   state  pop  debt  Eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

<h2> Exercise </h2>
1) Add a western state column that reads True for western states. <br> 
2) Print the resulting table. <br>
3) Add an Eastern_Debt column that is populated with a random number from 0 to 100. Print the result. 
3) delete all western and eastern columns using del

Solution

<h4> Transposing </h4>

In [35]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [36]:
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
frame3.T

In [38]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [39]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [40]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [41]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [ ]:
frame2.values

### Correlation and Covariance

conda install pandas-datareader

In [ ]:
price = pd.read_pickle('examples/yahoo_price.pkl')
volume = pd.read_pickle('examples/yahoo_volume.pkl')

import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

This notebook is part of a course at www.codeimmersives.com called Data Science. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives