<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Review</h2>

In [ ]:
project_files = 'C:\\Projects\\Code immersives\\pandas\\'

<h2>Exercise</h2>
<code>
purchases = {'2020/01/02': ['Shampoo','Razors','Mints','Lotion','Suntan lotion'],
'2020/01/03': ['Flip Flops','Water bottle'],
'2020/01/04': ['32 ounce Gaterade'],
'2020/01/05': ['Cashews 32 ounce can','Fiji Water']}
</code><br>
1 - On which day did you purchase the most items?<br>
2 - Put the table in the order of most items purchased in descending order<br>

<h4>Solution</h4>

In [7]:
purchases = {'2020/01/02': ['Shampoo','Razors','Mints','Lotion','Suntan lotion'],
'2020/01/03': ['Flip Flops','Water bottle'],
'2020/01/04': ['32 ounce Gaterade'],
'2020/01/05': ['Cashews 32 ounce can','Fiji Water']}

# Sort dictionary by length of values
item_count = {k: len(v) for k, v in purchases.items()}

print(max(item_count, key=item_count.get))

# Without creating a new dictionary
print(max(purchases, key=len))

# Using sorted()
print(sorted(purchases, key=len))

2020/01/02
2020/01/02
['2020/01/02', '2020/01/03', '2020/01/04', '2020/01/05']

<h2>Exercise</h2>
Find and print the top 3 salespeople by sold amount adding up their amounts<br>
<code>
sales = {'Susan':[130000,90000,120000,80000],
         'Hal':[100000,100000,105000,99000],
         'Joyce':[90000,111000,88000,85000],
         'Florence':[150000,99000,102000,69000],
         'Samuel':[85000,90000,77000,92000]}
</code>

<h4>Solution</h4>

In [38]:
sales = {'Susan':[130000,90000,120000,80000],
         'Hal':[100000,100000,105000,99000],
         'Joyce':[90000,111000,88000,85000],
         'Florence':[150000,99000,102000,69000],
         'Samuel':[85000,90000,77000,92000]}

sales_totals = sorted({k: sum(v) for k, v in sales.items()}, key=sales.get, reverse=True)
top_sales = sorted(sales.items(), key=lambda v: sum(v[1]), reverse=True)

print(*sales_totals[:3], sep='\n')
print(top_sales[:3])

Florence
Susan
Hal
[('Susan', [130000, 90000, 120000, 80000]), ('Florence', [150000, 99000, 102000, 69000]), ('Hal', [100000, 100000, 105000, 99000])]

<h2>Exercise</h2>
<code>
cartItems = {'Toothpaste':3.99, 'Lotion':5.99, 'Cotton swaps':2.99,'Deoderant':4.99,'Hair Spray':8.99,'Conditioner':11.99, 'Gum':1.99, 'Hair Gel':2.49, 'Body Wash':3.99, 'Tooth Brush': .99}
</code>
<br>
1 - You only have $20. Purchase items until you run out of money<br>
2 - How could you put together a basket with the lowest cost purchasing as many items as <br>possible but buying an item only once?

In [45]:
cartItems = {'Toothpaste':3.99, 'Lotion':5.99, 'Cotton swaps':2.99,'Deoderant':4.99,'Hair Spray':8.99,'Conditioner':11.99, 'Gum':1.99, 'Hair Gel':2.49, 'Body Wash':3.99, 'Tooth Brush': .99}

def purchase(shopping_list: dict, budget: float = 20.0) -> list:
    '''Given a budget and a shopping list, purchase the most items possible and return a list of the puchased items'''
    sorted_list = sorted(shopping_list.items(), key=lambda t: t[1])
    bought = []
    for item in sorted_list:
        if budget >= (price := item[1]):
            bought.append(item[0])
            budget -= price
    return bought

purchase(cartItems)

['Tooth Brush', 'Gum', 'Hair Gel', 'Cotton swaps', 'Toothpaste', 'Body Wash']

<h2>Exercise</h2>
<code>
numbers = (23,43,14,23,19,52,15,13)
</code><br>
You should stop iterating over the numbers and stop when you find <br>
a number divisible by 13

<h4>Solution</h4>

<h2>Exercise</h2>
Open the file grades.txt using python not pandas and calculate the<br>
mean value.<br>

<h4>Solution</h4>

<h2>Pandas Reading a file</h2>
We can use the read_csv method to open a CSV file for a pandas<br>
dataframe<br>
<code>
import pandas as pd 
df = pd.read_csv(project_files + 'Home_supplies.csv')
df
</code>

Let's open and examine the US_Cities_delimited.txt<br>
We can add a new parameter to the read_csv mrthod which<br>
allows us the select the delimeter of the file<br>
<code>
df = pd.read_csv( project_files + 'US_Cities_delimited.txt',delimiter='|')
df.dtypes
</code><br>
NOTE: Most of the columns are labeled object.  We need to clean the fields and cast<br>
them with the correct data type.

Let's look at 1 column of our data<br>
<code>
import pandas as pd
df = pd.read_csv( project_files + 'US_Cities_delimited.txt',delimiter='|')    
df['Population']
</code><br>
NOTE: The returned data was more rows than could fit on the screen.

We can slice the column data to show all or parts of our data<br>
<code>
import pandas as pd
df = pd.read_csv( project_files + 'US_Cities_delimited.txt',delimiter='|')    
df['Population']
df.head()
<code>
or use df.tail()  # For the end of the data frame

We can display a portion of the file using head and tail
<code>
df.head(10) # First 10 values
df.tail(10) # Last 10 values

df['Begin_Term'].head()<br>
df['Begin_Term'].describe()<br>
df['Population'].describe()<br>
df[25:51]  # Examine certain rows
df[25:]
df[df.Begin_Term == 2016]   # filter data
df[df.End_Term == 2022]
df[df.End_Term - df.Begin_Term >= 10] # Query every mayor who has served more than 10 years
df['Begin_Term'].unique()    
df.groupby(['Begin_Term']).count()
    # Exercise: how many cities have a budget of 1 Billion and their population is less than 1 million
</code>

In [ ]:
df[(df.Budget > 1000000000) & (df.Population < 1000000)]

<h2>Exercise</h2>
Find the greatest number in the list without using the max() function or<br>
sorting the list<br>
<code>
x = [1,2,0,5,1,4,-1,2]
</code>

<h4>Solution</h4>

<h2>Exercise</h2>
<code>
titles = ['team leader','squad leader','manager','managing director','director of operations','operations manager','operations manager (US)', 'operations manager (Canada)',
'Operations manager (Mexico)']
</code><br>
Find every title that has to do with operations.

<h4>Solution</h4>

This notebook is part of a course at www.codeimmersives.com called Data Science. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives