<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### 
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [Pandas continued](#2)<br>
2.  [Exercise](#10)<br> 
3.  [Exercise](#12)<br>     
</div>
<hr>

<h2>Review</h2>

<h2>Exercise</h2>
Create a pandas data series with every lower case letter of the alphabet<br>
with the ascii number as the index.<br>
Use alphabet_string = string.ascii_lowercase for a list of letters.

<h4>Solution</h4>

In [2]:
print(ord('a'))

97

<h2>Exercise</h2>
<br>
<code>
cusips = ['A123456','C711111','P90909A','VG20000']<br>
bonds = ['AAA - CLO Bonds','TRANCHE C Rated bond','Vanilla Repo 2.3%','ETF Russell 1000']<br>
</code><br>
Create a pandas data frame and locate the bond with this cusip 'P90909A' as the index.
<br>
NOTE: loc uses square brackets

<h4>Solution</h4>

<h2>Exercise</h2>
Read in and clean the following list of data and place into a pandas series<br>
without an index.  The numbers should be cast as int32 data.
<br>
<code>
grades = ['68\n', '90\n', '69\n', '86\n', '78\n', 
          '97\n', '95\n', '83\n', '84\n', '74\n', 
          '84\n', '71\n', '79\n', '82\n', '79\n', 
          '69\n', '99\n', '93\n', '77\n', '77\n', 
          '75\n', '83\n', '86\n', '89\n', '76\n', 
          '88\n', '65\n', '65\n']
</code><br>
Finally, add 5 points to every grade

<h4>Solution</h4>

<h2>Pandas Series Continued</h2>

Using the index we can output a range of values based on the index.<br>
Exercise: Print out the sales from April until July<br>
<code>
import pandas as pd
sales = {'Jan': 150, 'Feb':200, 'Mar': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}

</code><br>
NOTE: The loc method includes the last item listed in the range.

<h2>Exercise</h2>
Using the dictionary below do the following:<br>
1 - Create a pandas data series<br>
2 - Use a 3 character all caps month abreviation as the index<br>
3 - Add 50 to each sales number<br>
4 - Print the first 6 months of sales<br>
<code>
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
</code>

<h4>Soluton</h4>

JAN    200
FEB    250
MAR    225
APR    125
MAY    130
JUN    350
dtype: int64

<h2>Pandas Series - Basic Statistics</h2>
To gather basic statistics on a data Series we can use the built in<br>
'.describe' method <br>
<code>
import pandas as pd
sales = {'January': 150, 'February':200, 'March': 175,
        'April': 75, 'May': 80, 'June': 300,
        'July': 250, 'August':130, 'September': 195,
        'October': 75, 'November': 120, 'December': 400}
ps = pd.Series([int(val)+50 for val in sales.values()],
               index = [mon.upper()[:3] for mon in sales.keys()])
ps.describe()
</code><br><br>
This will give us the following statistics:<br>
1 - count<br>
2 - mean<br>
3 - standard deviation<br>
4 - minimum<br>
5 - 25% quartile<br>
6 - Median<br>
7 - 75% quartile<br>
5 - maximum<br>

count     12.000000
mean     229.166667
std       98.807281
min      125.000000
25%      160.000000
50%      212.500000
75%      262.500000
max      450.000000
dtype: float64

We can also get the same statistics by running the commands individually.<br>
The list to run are as follows:<br>
ps.mean()<br>
ps.median()<br>
ps.count()<br>
ps.std()<br>
ps.min()<br>
ps.max()<br>
ps.mode()<br>

We can also get the quantile values as well using a pandas method<br>
<code>
import pandas as pd
s = ['68', '90', '69', '86', '78', '97', '95', '83', '84', '74', '84', 
     '71', '79', '82', '79', '69', '99', '93', '77', '77', '75', '83', 
     '86', '89', '76', '88', '65', '65']
ps = pd.Series(s).astype('int64')
ps = ps.quantile([.25, .5, .75])
ps
</code>

This notebook is part of a course at www.codeimmersives.com called Data Science. If you accessed this notebook outside the course, you can get more information about this course online by clicking here.

<hr>

Copyright &copy; 2021  Code Immersives